@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #07061b;
  color: #eeeeef;
}

body::-webkit-scrollbar {
  background-color: #07061b;
}

body::-webkit-scrollbar-thumb {
  background-color: #0d0c35;
  border-radius: 10px;
}
